[Desktop Entry]
Version=1.0
Name=Discord
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="discord" firefox --class WebApp-Discord1817 --profile /home/andrew/.local/share/ice/firefox/Discord1817 --no-remote --private-window "https://discord.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=discord
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Discord1817
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://discord.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=true
X-WebApp-Isolated=true

