[Desktop Entry]
Version=1.0
Name=Proton
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/andrew/.local/share/ice/icons/Proton.png" firefox --class WebApp-Proton1887 --profile /home/andrew/.local/share/ice/firefox/Proton1887 --no-remote "https://mail.proton.me"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/andrew/.local/share/ice/icons/Proton.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Proton1887
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://mail.proton.me
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

