[Desktop Entry]
Version=1.0
Name=Keynote
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="icloud" firefox --class WebApp-Keynote4475 --profile /home/andrew/.local/share/ice/firefox/Keynote4475 --no-remote "https://www.icloud.com/keynote/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=icloud
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Keynote4475
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://www.icloud.com/keynote/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

